@import url('https://fonts.cdnfonts.com/css/dalek-pinpoint');

body {
    font-family: "Dalek Pinpoint", sens-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box; 
}

/* check more about what :root does */ 

:root {
    --main-color:  #D2B474;
    --dark-color: #DFD2BC;
    --step-color: #8312cf;
    --step-size: 32px;

}


body {
    height: 100vh;
    display:grid;
    place-items: center; 
    background-color: #280d0d;
    color: #D2B474;

}

h1{
    text-align: center;
    margin-bottom: 16px;
}


/* styles for the form */ 

.form-wizard {
    background-color: #4b1a17;
    padding: 32px;
    border-radius: 8px;
    width: min(600px, 80%);
    box-shadow: 0 4px 16px rgba(167, 21, 84, 0.1);

}